@import "config";
@import "mixins";

html, 
body {
	height: 100%;
}

body {
	overflow: hidden;
}

.prez1,
.prez2 {
	position: absolute;
	visibility: hidden;
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;

	@include prez-active {
		visibility: visible;
		-webkit-transition-property: -webkit-transform;
		transition-property: transform;
		-webkit-transition-timing-function: ease-in-out;
		transition-timing-function: ease-in-out;
	}
}

.prez1 {
	left: 50%;
	top: 50%;
	-webkit-transform: perspective($base-perspective);
	transform: perspective($base-perspective);
}

.prez2 {
	-webkit-transition-delay: .3s;
	transition-delay: .3s;
}

.slide {
	position: absolute;
	z-index: 1;
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;

	&.#{$current-classname} {
		z-index: 2;
	}
}