@import "normalize";
@import "prez";

body {
	background-color: lightgray;
}

.slide {
	font-family: Pacifico, cursive;
	font-size: 200px;
}

.word {
	display: block;
	opacity: .1;
	-webkit-transform: translateZ(0);
	transform: translateZ(0);

	@include prez-active {
		-webkit-transition: all .5s ease-out;
		transition: all .5s ease-out;
	}

	@include prez-current {
		opacity: 1;
	}

	@include prez-after {
		color: maroon;
	}
}

.word-4 {

	@include prez-current {
		-webkit-transform: scale(1.5) skewY(20deg) translateZ(0);
		transform: scale(1.5) skewY(20deg) translateZ(0);
	}
}

.word-6 {

	@include prez-after {
		opacity: 1;
		-webkit-transform: scale(1.5) translateX(-100px) rotate(-180deg) translateZ(0);
		transform: scale(1.5) translateX(-100px) rotate(-180deg) translateZ(0);
	}
}