@import "normalize";
@import "prez";

@-webkit-keyframes spin {
	to { -webkit-transform: rotate(360deg) translateZ(0); }
}

@keyframes spin {
	to { transform: rotate(360deg) translateZ(0); }
}

body {
	background-color: lightgray;
}

.slide {
	font-family: Pacifico, cursive;
	font-size: 200px;
}

.word {
	display: block;
	opacity: .1;
	-webkit-transform: translateZ(0);
	transform: translateZ(0);

	@include prez-active {
		-webkit-transition: all .3s ease-out;
		transition: all .3s ease-out;
	}

	@include prez-current {
		opacity: 1;
	}
}

.word-2 {

	@include prez-next {
		-webkit-animation: spin .5s;
		animation: spin .5s;
	}
}

.word-4 {

	@include prez-current {
		color: maroon;
	}
}

.word-3 {

	@include prez-after {
		-webkit-animation: spin .5s;
		animation: spin .5s;
	}
}

.word-5 {

	@include prez-current {
		-webkit-transform: scale(1.4) translateZ(0);
		transform: scale(1.4) translateZ(0);
	}
}