@import "normalize";
@import "prez";

body {
	background-color: lightgray;
}

.stuff {
	width: 200px;
	margin-left: -100px;
	position: absolute;
	left: 50%;
	bottom: 10px;
	z-index: 10;
	text-align: center;
}

.slide {
	font-family: Pacifico, cursive;
	font-size: 200px;
}

.word {
	display: block;
	white-space: nowrap;
	opacity: .1;
	-webkit-transform: translateZ(0);
	transform: translateZ(0);

	@include prez-active {
		-webkit-transition: all .5s ease-out;
		transition: all .5s ease-out;
	}

	@include prez-current {
		opacity: 1;
	}

	@include prez-after {
		color: maroon;
	}
}

.word-4 {

	@include prez-current {
		-webkit-transform: scale(1.5) skewY(20deg) translateZ(0);
		transform: scale(1.5) skewY(20deg) translateZ(0);
	}
}

.word-6 {

	@include prez-after {
		opacity: 1;
		-webkit-transform: scale(1.5) translateX(-100px) rotate(-180deg) translateZ(0);
		transform: scale(1.5) translateX(-100px) rotate(-180deg) translateZ(0);
	}
}

.quot {
	display: inline-block;
	visibility: hidden;
	-webkit-transition: -webkit-transform .3s;
	transition: transform .3s;
	-webkit-transform: scale(.1) translateZ(0);
	transform: scale(.1) translateZ(0);

	.foo & {
		visibility: visible;
		-webkit-transform: scale(1) translateZ(0);
		transform: scale(1) translateZ(0);
	}
}