@import "config";
@import "normalize";

html, 
body {
    height: 100%;
}

body {
    overflow: hidden;
    background-color: lightgray;
}

.prez1,
.prez2 {
    position: absolute;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transition: -webkit-transform $transition-duration ease-in-out;
    transition: transform $transition-duration ease-in-out;
}

.prez1 {
    left: 50%;
    top: 50%;
    visibility: hidden;
    -webkit-transition-delay: .25s;
    -transition-delay: .25s;
    -webkit-transform: perspective(1000);
    transform: perspective(1000);

    &.prez-active {
        visibility: visible;
    }
}   

.slide {
    width: 400px;
    height: 400px;
    position: absolute;
    z-index: 1;
    border-radius: 10px;
    background-color: white;
    opacity: .2;
    -webkit-transition: opacity .5s ease-out;
    transition: opacity .5s ease-out;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    
    font-size: 300px;
    line-height: 400px;
    text-align: center;

    &.prez-current {
        z-index: 2;
        opacity: 1;
    }
}