@import "config";
@import "normalize";

html, 
body {
    height: 100%;
}

body {
    overflow: hidden;
    background-color: lightgray;
}

.prez1,
.prez2 {
    position: absolute;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transition: -webkit-transform $transition-duration ease-in-out;
    transition: transform $transition-duration ease-in-out;
}

.prez1 {
    left: 50%;
    top: 50%;
    display: none;
    -webkit-transform: perspective(1000);
    transform: perspective(1000);

    &.prez-active {
        display: block;
    }
}

.prez2 {
    -webkit-transition-delay: .3s;
    -transition-delay: .3s;
}

.slide {
    position: absolute;
    z-index: 1;
    opacity: .1;
    -webkit-transition: opacity .5s ease-out;
    transition: opacity .5s ease-out;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;


    font-family: Pacifico, cursive;
    font-size: 200px;

    &.prez-current {
        z-index: 2;
        opacity: 1;
    }
}